.todoList {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
}

.flexTodoList {
    display: flex;
    /* flex-direction: column; */
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    align-items: stretch;
    justify-content: left;
    background-color: gainsboro;
    padding: 10px;
    border:2px solid black;

}

.todo {
    background-color: wheat;
    padding: 1em;
    margin:0.5em;
    display: flex;
    justify-content: space-between;
}
.todo .isCompleted {
    color: grey;
}
.todo .id {
    color: #aaa;
    font-size: 0.4em;
}
.todo .text {
    color: black;
    font-weight: 600;
    font-size: 1.2em;
}
.todo.completed {
    opacity: 0.3;
}
.todo.completed .text {
    text-decoration: line-through;
}
.todo .actions {
    min-width: 120px;
    display: flex;
    flex-flow: column;
}
.todo .actions button {

    all:unset;
    padding: 0.5em;
    font-size: 0.6em;
    margin:  0.5em;
    font-weight: 600;
    text-transform: uppercase;
    background-color:  blanchedalmond;
    cursor: pointer;
    color:black;


}
.todo .actions button:hover {

    background-color: burlywood;

}

*{
    box-sizing: border-box;
}

.flex-container{
    display:flex;
    height: 400px;
    align-content: space-between;
    /* align-items: flex-start; */
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: left;
    background-color: burlywood;
    padding: 10px;
    border:2px solid black;
    /* flex-shrink: initial; */
    /* flex-grow: ; */
}

.flex-container div{
    background-color: gainsboro;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;

}

.itemListData{
    background: rgba(68, 68, 68, 0.541);
    color: white;
    padding: 0.2cm;
    margin-top: 3%;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 2.5cm; */
}

.itemListActions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemListActionCompontent{
    flex: 0 50%;
    height: 25px;
    margin-bottom: 2%; /* (100-32*3)/2 */
}


.itemListActionCompontentcompleted{
    flex: 0 50%;
    height: 25px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    opacity: 0.3;
}

.itemListActionCompontentuncompleted{
    flex: 0 50%;
    height: 25px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    
}


.itemHeadercompleted{
    text-decoration: line-through;
}

